
.column {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color:rgb(216, 216, 216);
}

/* Clear floats after the columns */
.row {
   margin: 30px;
}
#Hroomh2{
   padding-top: 80px;
}
.Hroom img{
  width: 400px;
  height: 400px;
  margin: 50px;
  border-radius: 40px;
  float: left;
}
.cardss {
  display: flex;
}


.cardp1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: arial;
    float: left;

  }
  
  .price1 {
    color: grey;
    font-size: 22px;
  }
  
  .cardp1 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(255, 0, 0);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .cardp1 button:hover {
    opacity: 0.7;
  }
  #Hroomfooter{
    margin-top: 50px;
    float: left;
  }